.cardWrapper {
  width: 100px;
  height: 100px;
  perspective: 600px;
  margin: 0 auto;
}

.card {
  text-align: center;
  transition: transform 333ms ease-in-out, opacity 333ms ease-in;
  transform-style: preserve-3d;
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 2px 5px 1px #333333aa;
  opacity: 1;
}

.card.isFlipped {
  transform: rotateY(180deg);
}

.card.isHidden {
  opacity: 0;
}
.card.isHidden .front {
  z-index: 2;
  backface-visibility: visible;
}

.card .front,
.card .back {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.card .front {
  transform: rotateY( 180deg );
  color: #fff;
  background-color: #000;
  border: 3px solid #21c629;
  border-radius: 4px;
}

.card img {
  /* We want these images to be pixelated */
  image-rendering: optimizeSpeed;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: pixelated;
  image-rendering: optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

.card img {
  width: auto;
  height: 100%;
}

.card .front img {
  max-width: 48px;
  max-height: 48px;
  display: block;
  margin: 6px auto 0;
}

.cardName {
  position: absolute;
  bottom: 6px;
  left: 0;
  right: 0;
  height: 32px;
  padding: 0 6px;
}
